
*{
    box-sizing: border-box;
}

body {
    font-family: var(--police-texte);
    background-color: var(--couleur-silver);
    color: var(--couleur-blanc);
    margin-left: 1rem;
    margin-right: 1rem;
}


