:root{
    --couleur-primaire:#FF4136;
    --couleur-accent:#0000B8;
    --couleur-bouton:#00008F;
    --couleur-silver:#30333E;
    --couleur-texte:#001F3F;
    --couleur-blanc:#FDFDFD;;
    --couleur-noir:#111111;
    --couleur-darkblue:#000052;

}