/* Style des boutons */
.item button, .btn {
    font-family: var(--police-sous-titre);
    padding: 10px 20px;
    margin-bottom: 0.5rem;
    width: fit-content;
    background-color: var(--couleur-bouton);
    color: var(--couleur-blanc);
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease; 
    transform: scale(1); 
}

button:hover, .btn:hover {
    background-color: var(--couleur-darkblue);
    transform: scale(1.1); 
}

button a {
    text-decoration: none;
    color: var(--couleur-blanc);
}

.banner {
    padding:1.5rem;
    font-size: 1.5rem;
}